* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --nav-col: #3e64ed;
    --bg-col: #79acff;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--nav-col);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    align-items: center;
    color: white;
    box-shadow: 0 2px 2px 0.2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    user-select: none;
    box-sizing: border-box;
}

nav h1:hover {
    cursor: pointer;
}

/* nav img:nth-child(1) {
    border-radius: 50%;
    box-shadow: 0 0px 4px 0.5px rgba(0, 0, 0, 0.2);
} */

div.jumbotron {
    width: 100%;
    height: 350px;
    background-color: var(--bg-col);
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}

div.jumbotron div {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.jumbotron::after {
    content: '';
    width: 3px;
    height: 150px;
    background-color: white;
    position: absolute;
    left: 5%;
}

div.jumbotron h1 {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    grid-column: 1 / 3;
    width: 400px;
    margin-bottom: 10px;
}

div.jumbotron div#button {
    background-color: var(--bg-col);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
    width: 90px;
    height: 30px;
    text-align: center;
    border: 1.2px solid white;
    transition: transform 0.2s ease-out;
    user-select: none;
    -webkit-user-select: none;
}

div.jumbotron div#button:hover {
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: 0 0 5px white;
}

section.about-ips-club {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

section.about-ips-club h1 {
    font-size: 40px;
    grid-column: 1 / 3;
    margin: 0 auto 20px auto;
    text-align: center;
}

section.about-ips-club #card {
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 19px;
    box-sizing: border-box;
}

svg.upSsk {
    position: relative;
    top: 5px;
}

section.about-ssk {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    background-color: var(--bg-col);
}

section.about-ssk h1 {
    font-size: 40px;
    grid-column: 1 / 3;
    margin: 0 auto 20px auto;
    color: white;
    text-align: center;
}

section.about-ssk #card {
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 19px;
    background-color: white;
    box-sizing: border-box;
}

section.about a {
    color: white;
    grid-column: 1 / 3;
    margin: 20px auto 0 auto;
    text-align: center;
    font-size: 18px;
    background-color: var(--nav-col);
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.2);
}

section.about a:hover {
    cursor: pointer;
}

svg.downSsk {
    position: relative;
    top: -1px;
    z-index: -1;
}

section.materi {
    width: 100%;
    min-height: 400px;
    margin-top: 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-col);
}

section.materi #card {
    width: 90%;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: height 0.2s ease-in;
    user-select: none;
    -webkit-user-select: none;
    background-color: white;
    position: relative;
}

section.materi #card:hover {
    cursor: pointer;
}

section.materi #card.list {
    height: 200px;
}

section.materi #card.list div {
    opacity: 1;
    z-index: inherit;
    transition: opacity 0.2s ease-in;
}

section.materi #card div {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 50%;
    transition: opacity 0.2s ease-in;
    grid-column: 1 / 3;
    font-size: 18px;
}

section.materi #card div ul {
    list-style: none;
}

section.materi #card div ul li {
    text-decoration: none;
    color: #3e64ed;
}

section.materi #card div ul li:hover {
    text-decoration: underline;
    color: #79acff;
}

section.materi .ips img {
    border-radius: 50%;
}

section.materi h1 {
    font-size: 40px;
    border-bottom: 3px #79acff solid;
}

section.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    box-sizing: border-box;
    padding: 0 20px 50px 20px;
}

section.gallery h1 {
    font-size: 40px;
}

section.gallery div.image {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 15px 15px;
    background-color: var(--nav-col);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

section.gallery div img {
    width: 200px;
    border-radius: 5px;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

section.gallery div img:hover {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    cursor: pointer;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 14, 14);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0%;
}

footer ul li a {
    color: white;
}

section.credit ul li {
    text-align: center;
    list-style: none;
}

@media only screen and (max-width: 1024px) {
    div.jumbotron h1 {
        font-size: 30px;
    }

    section.about-ips-club {
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.about-ips-club h1 {
        font-size: 30px;
        margin: 0;
    }

    section.about-ssk {
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.about-ssk h1 {
        font-size: 30px;
        margin: 0;
    }

    section.about-ips-club #card {
        font-size: 17px;
    }

    section.about-ssk #card {
        font-size: 17px;
    }

    section.gallery h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width : 890px) {
    section.gallery div.image {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width : 768px) {
    div.jumbotron {
        justify-content: space-around;
    }

    div.jumbotron h1 {
        font-size: 30px;
        width: 250px;
    }

    section.about-ips-club {
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.about-ips-club h1 {
        font-size: 20px;
        margin: 0;
    }

    section.about-ssk {
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.about-ssk h1 {
        font-size: 20px;
        margin: 0;
    }

    section.about-ips-club #card {
        font-size: 14px;
        font-weight: bold;
        width: 400px;
        height: 300px;
    }

    section.about-ssk #card {
        font-size: 14px;
        font-weight: bold;
        width: 400px;
        height: 300px;
    }

    section.materi h1 {
        font-size: 20px;
    }

    section.materi #card.list div {
        opacity: 1;
        z-index: inherit;
        transition: opacity 0.2s ease-in;
    }
    
    section.materi #card div {
        z-index: -1;
    }

    section.gallery h1 {
        font-size: 20px;
    }

    section.gallery div.image img {
        width: 130px;
    }
}

@media only screen and (max-width : 510px) {
    nav h1 {
        font-size: 16px;
    }

    nav img {
        width: 20px;
    }

    div.jumbotron {
        grid-template-columns: auto;
        justify-content: center;
    }

    div.jumbotron h1 {
        font-size: 20px;
    }

    section.about-ips-club h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    section.about-ssk h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    section.about-ips-club #card {
        font-size: 14px;
        font-weight: bold;
        width: 280px;
        height: 300px;
    }

    section.about-ssk #card {
        font-size: 14px;
        font-weight: bold;
        width: 280px;
        height: 300px;
    }
    
    section.materi h1 {
        font-size: 18px;
    }

    section.materi #card div {
        font-size: 15px;
    }

    section.gallery h1 {
        font-size: 18px;
    }

    section.gallery div.image {
        gap: 8px 8px;
    }

    section.gallery div.image img {
        width: 100px;
    }
}

@media only screen and (max-width : 360px) {
    section.gallery div.image {
        grid-template-columns: auto auto;
        gap: 5px 5px;
    }

    section.gallery div.image img {
        width: 120px;
    }
}

@media only screen and (max-width: 280px)
{
    div.jumbotron {
        justify-content: flex-end;
    }

    div.jumbotron div h1 {
        font-size: 18px;
    }

    section.about-ips-club #card, section.about-ssk #card {
        font-size: 12px;
        width: 250px;
    }

    section.about-ssk img, section.about-ips-club img {
        width: 70px;
    }

    section.materi h1 {
        font-size: 15px;
    }

    section.gallery h1 {
        font-size: 18px;
    }

    section.gallery div.image {
        grid-template-columns: auto auto;
        gap: 8px 8px;
    }

    section.gallery div.image img {
        width: 100px;
    }
}
